
#reContainer {
    position:relative;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#reInput {
    position:absolute;
    left: 0;
    top: 0;
    width:50%;
    white-space: pre;
}
#reOutput {
    position:absolute;
    right: 0;
    top: 0;
    width:50%;
    white-space: pre;
}

#reInput span {
    display:inline-block;
}
