/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    line-height: 1.5em;
    font-family:'Merriweather', serif;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-size: 17px;
    font-family:'Merriweather', serif;
    max-width: 58em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 1.8em 0 1.8em 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.2;
    -epub-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    adobe-hyphenate: none;
}
p {
    line-height: 1.8;
}
b, .bold  {
  font-weight: 900;
}
i, .italic {
  font-style:italic;
}
.underline{
  text-decoration:underline;
  text-decoration-color: #999;
  text-decoration-skip: none;
  text-decoration-skip-ink: auto;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}
h3 {
  font-size: 2em;
  margin-bottom: 0;
}
h4 {
  font-size: 1.7em;
  margin-bottom: 0;
}
h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}
h6 {
  font-size: 1.2em;
  margin-bottom: 0;
}
.subtitle{
  margin-top: 0.2em;
  text-decoration-line:overline;
  text-decoration-color: #ccc;
}
 .level {
   margin-top: 2em;
   border-left-style:solid;
   border-left-color: #777;
   border-left-width: 2px;
   padding-left: 1em;
}

.sublist {
  margin: .6em 0 0 1.8em;
}
ul > li > span, ol > li > span {
  padding-left: .5em;
  font-weight: normal;
}
ul, ol {
  font-weight: bolder;
  line-height: 1.8;
  margin-left: 2.75%;
  padding-bottom: .6em;
  padding-left: 0;
  list-style-position: outside;
}

ul > .nest, ol > .nest{
  font-size: .9em;
}

ol.num {
  list-style-type: decimal;
}
ol.abc{
  list-style-type: lower-alpha;
}
ol.ABC {
  list-style-type: upper-alpha;
}
ol.iii {
  list-style-type: lower-roman;
}
ol.III {
  list-style-type: upper-roman;
}

li {
  margin: 0 0 0 .5em;
}

a, a:link, a:visited{
  color: RGBA(45, 95, 174, 1.00);
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: RGBA(45, 95, 174, 0.2);
  padding-bottom: 0.2em;
  cursor: pointer;
}

a:hover, a:active {
    color: RGBA(45, 95, 174, 1.00);
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: RGBA(45, 95, 174, 1.00);
    padding-bottom: 0.005em;
    -webkit-animation: mymove 200ms; /* Chrome, Safari, Opera */
    animation: mymove 200ms;
    cursor: pointer;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {border-bottom-color: RGBA(45, 95, 174, 0.15);
          border-bottom-width: 1px;
          padding-bottom: 0.2em;}
    to   {border-bottom-color: RGBA(45, 95, 174, 1.00);
          border-bottom-width: 3px;
          padding-bottom: 0.005em;}
}

/* Standard syntax */
@keyframes mymove {
    from {border-bottom-color: RGBA(45, 95, 174, 0.15);
          border-bottom-width: 1px;
          padding-bottom: 0.2em;}
    to   {border-bottom-color: RGBA(45, 95, 174, 1.00);
          border-bottom-width: 3px;
          padding-bottom: 0.005em;}
}

blockquote {
  color: #5B7A6C;
  font-size: 1.2em;
  font-style:italic;
  line-height: 1.8em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.75%;
  padding-left: 1em;
  border-left: 3px solid #5B7A6C;
}

.thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
}

.image{
    display: block;
    margin-top:1em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

a > img {
  display: inline-block;
  width: 25%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.overlay {
  padding: 1em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
